.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

.content {
  padding: 40px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.ghost {
  display: none;
}

.ghost.-active {
  display: block;
  height: 100px;
  width: 100px;
  background-color: red;
}